main video{
	width: 100%;
  	height: auto;
  	margin:0;
	padding:0;
	display:inline-flex;
	flex:1;
}
.block .videoContainer{
	width:auto;
	height:auto;
}
.videoBanner{
	width: 100%;
	margin:0;
}
.videoBanner video{
	width:100%;
	margin:0;
}
.scrollButton{
	display: none;
}
.scrollButton.active{
	display: block;
	font-size:50px;
	left:50%;
	top:80%;
	position: fixed;
	width: auto;
}
.scrollButton a{
	width: auto;
}

.blockContent {
  padding-top:160px;
  margin:0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-gap: 20px; 
  align-items: start;
}

.blockContent img {
  width: 100%; 
  height: auto; 
  margin:0;
}

.blockContent .text {
  font-size: 24px;
  line-height: 1.5;
  margin: auto; 
  color:white;
  text-align: left;
  align-self: start;
  margin:0;
}
